body{
    margin: 0;
    padding: 0;
    background-color: snow;
}
header {
    background-image: url(../img/shelf.jpg);
    background-position: center;
    background-size: cover;
}
.white_bg{
    background-color: rgba(255, 255, 255, 0.85);
}
.container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
    box-sizing: border-box;
}
.flex{
    display: flex;
}
.logo img{
    height: 75px;
}
.header_content{
    height: 80px;
    align-items: center;
    justify-content: space-between;
}
.nav_item{
    list-style: none;
    margin-left: 40px;
    font-size: 20px;
}
.nav_item.active a{
    color: blue;
}
.nav_item a{
    color: steelblue;
}
.nav_item:hover a{
    color: blue;
}